*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height:100%;
}
/* utlities */
.primary-bg{
    background: #feea3b;
}
.container{
    padding: 5% 10%;
}
.text-stroke{
    color: white;
    -webkit-text-stroke: black 1.5px;
}
.split{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* header */
.header{
    display: flex;
flex-direction: row;
justify-content: center;s
align-items: center;
}
.header__heading{
    font-weight: 700;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}
/* input section */
.dog-img{
    background: url('../abstract-mood-series-website-background-color-images-high-resolution-abstract-mood-backgrounds-images-designed-use-websites-157859506.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width:65px;
    height:65px;
    border-radius: 50px;
    border:2px black solid;
}
.input{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.input__text{
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
}